body, html{
	background:#2a2a2a;
	height: 100%;
}

.container{
	width:100%;
	height: 100%;
}

.leftpage{
	width: 35%;
  float: left;
  background: #eee;
  height: 100%;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.rightpage{
	width:65%;
	float: right;
	background:#f1f1f1;
	height:100%;
	overflow-y: auto;
}

@media screen and (max-width: 1190px) {
	.leftpage{
		width:35%;
	}

	.rightpage{
		width:65%;
	}
}

@media screen and (max-width: 945px) {
	.leftpage{
		width:40%;
	}

	.rightpage{
		width:60%;
	}
}

@media screen and (max-width: 660px) {
	.leftpage{
		width:40%;
	}

	.rightpage{
		width:60%;
	}
}

@media screen and (max-width: 400px) {
	.leftpage, .rightpage{
		width:100%;
		float:none;
		border-right:none;
	}
}

@media screen and (max-width: 300px) {
	.leftpage, .rightpage{
		width:100%;
		float:none;
		border-right:none;
	}
}
